/SharePointApp.Web/bin/Antlr3.Runtime.dll
/SharePointApp.Web/bin/Antlr3.Runtime.pdb
/SharePointApp.Web/bin/DocumentFormat.OpenXml.dll
/SharePointApp.Web/bin/Microsoft.SharePoint.Client.DocumentManagement.dll
/SharePointApp.Web/bin/Microsoft.SharePoint.Client.Runtime.dll
/SharePointApp.Web/bin/Microsoft.SharePoint.Client.Search.dll
/SharePointApp.Web/bin/Microsoft.SharePoint.Client.dll
/SharePointApp.Web/bin/Microsoft.Web.Infrastructure.dll
/SharePointApp.Web/bin/Newtonsoft.Json.dll
/SharePointApp.Web/bin/Newtonsoft.Json.xml
/SharePointApp.Web/bin/PagedList.Mvc.dll
/SharePointApp.Web/bin/PagedList.Mvc.xml
/SharePointApp.Web/bin/PagedList.dll
/SharePointApp.Web/bin/PagedList.xml
/SharePointApp.Web/bin/SharePointApp.Web.dll
/SharePointApp.Web/bin/SharePointApp.Web.dll.config
/SharePointApp.Web/bin/SharePointApp.Web.pdb
/SharePointApp.Web/bin/System.Web.Helpers.dll
/SharePointApp.Web/bin/System.Web.Helpers.xml
/SharePointApp.Web/bin/System.Web.Mvc.dll
/SharePointApp.Web/bin/System.Web.Mvc.xml
/SharePointApp.Web/bin/System.Web.Optimization.dll
/SharePointApp.Web/bin/System.Web.Optimization.xml
/SharePointApp.Web/bin/System.Web.Razor.dll
/SharePointApp.Web/bin/System.Web.Razor.xml
/SharePointApp.Web/bin/System.Web.WebPages.Deployment.dll
/SharePointApp.Web/bin/System.Web.WebPages.Deployment.xml
/SharePointApp.Web/bin/System.Web.WebPages.Razor.dll
/SharePointApp.Web/bin/System.Web.WebPages.Razor.xml
/SharePointApp.Web/bin/System.Web.WebPages.dll
/SharePointApp.Web/bin/System.Web.WebPages.xml
/SharePointApp.Web/bin/WebGrease.dll
/SharePointApp.Web/obj/Debug/SharePointApp.Web.csproj.FileListAbsolute.txt
/SharePointApp.Web/obj/Debug/SharePointApp.Web.csprojResolveAssemblyReference.cache
/SharePointApp.Web/obj/Debug/SharePointApp.Web.dll
/SharePointApp.Web/obj/Debug/SharePointApp.Web.pdb
/SharePointApp.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SharePointApp.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SharePointApp.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SharePointApp.v12.suo
